# PostgreSQL
POSTGRES_DB=review_parser
POSTGRES_USER=review_parser
POSTGRES_PASSWORD=review_password

# Django
SECRET_KEY="django-insecure-@2i7ecujl!_xwce$!@vkn(b&#fhzbr9ng+eldeu!_%4lqye@ey"
DEBUG=False
ALLOWED_HOSTS=93.115.20.214,127.0.0.1,localhost

# Database (for Django settings)
DB_ENGINE=django.db.backends.postgresql
DB_NAME=review_parser
DB_USER=review_parser
DB_PASSWORD=review_password
DB_HOST=postgres
DB_PORT=5432

# Celery / Redis
CELERY_BROKER_URL=redis://redis:6379/0

# External APIs
TWOGIS_API_KEY="37c04fe6-a560-4549-b459-02309cf643ad"

# Logging
LOG_LEVEL=INFO
LOG_FILE_LEVEL=DEBUG

YOUTUBE_API_KEY="youtube-api-key"